<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
    	<!-- See http://logback.qos.ch/manual/layouts.html and note that some things are slow-->
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger.%method:%line - %msg%n</pattern>
      <!-- <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{0}.%method:%line - %msg%n</pattern> -->
    </encoder>
  </appender>
  
  <!-- c3p0 -->
  <logger name="com.mchange" level="error"/>
  <logger name="org.apache.commons.digester" level="error"/>
  <logger name="org.apache.commons.beanutils" level="error"/>
  <logger name="com.beimin.eveapi" level="info"/>
  <logger name="org.apache.camel" level="error"/>
  <logger name="org.eclipse.jetty" level="error"/>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>